.about-container {
  padding: 30px 20px;
}

.about-container-par {
  color: hsl(0, 0%, 100%);
  font-size: 1.1em;
}

.download-cv:hover {
  background-color: rgb(154, 89, 1);
}

.download-cv:active {
  background-color: #fff;
  color: rgb(80, 52, 38)
}

.about-email {
  text-decoration: underline;
}

.about-email:hover {
  color: blue;
}

.about-container section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about-container section a {
  padding: 10px 30px;
  background: rgb(80, 52, 38);
  border-radius: 5px;
  border: 1px solid rgb(154, 89, 1);
  font-size: 1.8em;
  box-shadow: 0 0 5px 0 rgb(154, 89, 1);
}

.about-icons-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-icons-section div {
  border: 1px solid rgb(154, 89, 1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 5vw;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgb(154, 89, 1);
}

.about-icons-section div h3,
.about-icons-section div p {
  color: hsl(0, 0%, 100%);
}

@media (min-width: 745px) {
  .about-container {
    padding: 30px 50px;
  }

  .about-container-par {
    font-size: 1.3em;
    padding: 2vh 5vw;
  }

  .about-icons-section {
    gap: 50px;
  }
}
