.home-container h1 {
  color: hsl(0, 0%, 100%);
  margin-top: 0;
  text-align: center;
}

.home-icons {
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  color: hsl(0, 0%, 100%);
  gap: 25px;
}

.home-header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0 10px;
}

.abu-image {
  min-width: 50vw;
  min-height: 20vh;
  background-image: url('../components/assets/images/abu-smile.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  animation: profile_animate 8s ease-in-out 1s infinite;
  border: 2px solid rgb(80, 52, 38);
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.landing-page-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.desktop-computer {
  max-width: 30px;
}

.landing-page-name {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  font-size: 1rem;
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to { border-color: transparent; }
  50% { border-color: orange; }
}

.home-par {
  color: hsl(0, 0%, 100%);
  max-width: none;
  font-size: 1.2em;
}

.par-section {
  padding: 10px 10vw;
  border-bottom: 1px solid rgb(20, 20, 20);
}

@media (min-width: 745px) {
  .home-container {
    display: flex;
    flex-direction: row;
    padding: 50px 5vw;
  }

  .abu-image {
    min-width: 30vw;
    min-height: 50vh;
    -webkit-box-reflect: below 0 linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  }

  .home-sm-icons {
    font-size: 3em;
    color: hsl(0, 0%, 100%);
  }

  .home-sm-icons:hover {
    transform: scale(1.5);
    transition: all 0.5s ease-in-out 0.25s;
  }

  .landing-page-name {
    font-size: 2em;
  }

  .par-section {
    display: flex;
    flex-wrap: wrap;
    padding: 1vh 3vw;
  }

  .home-par {
    font-size: 2em;
  }
}
