body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(80, 52, 38);
}

.cartoonish-font {
  font-family: 'Amatic SC', cursive;
}

.body-font {
  font-family: 'Lato', sans-serif;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.tk-blob {
  animation: blob-turn var(--time, 30s) linear infinite;
  fill: var(--fill, #7600f8);
  transform-origin: center;
  max-width: 50vw;
}

.tk-blob-svg {
  position: absolute;
  place-self: center;
  animation: blob-skew calc(var(--time, 30s) * 0.5) linear 0s infinite;
  transform-origin: center;
  background-color: var(--fill, #7600f8);
  max-width: 30vw;
  min-height: 50vw;
  border-top-right-radius: 250px;
  border-bottom-left-radius: 250px;
  border-top-left-radius: 400px;
  border-bottom-right-radius: 200px;
  opacity: 0.6;
}

.tk-blob svg path {
  animation: blob-scale calc(var(--time, 30s) * 0.5) ease-in-out 0s infinite;
  transform-origin: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes blob-turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes blob-skew {
  0% {
    transform: skewY(0deg);
  }

  13% {
    transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }

  18% {
    transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }

  24% {
    transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }

  25% {
    transform: skewY(calc((2.5deg) * var(--amount, 2)));
  }

  26% {
    transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }

  32% {
    transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }

  37% {
    transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }

  50% {
    transform: skewY(20deg);
  }

  63% {
    transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }

  68% {
    transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }

  74% {
    transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }

  75% {
    transform: skewY(calc((-2.5deg) * var(--amount, 2)));
  }

  76% {
    transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }

  82% {
    transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }

  87% {
    transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }

  95% {
    transform: skewY(-0.8deg);
  }

  100% {
    transform: skewY(0deg);
  }
}

@keyframes blob-scale {
  0% {
    transform: scaleX(0.9) scaleY(1);
  }

  25% {
    transform: scaleX(0.9) scaleY(0.9);
  }

  50% {
    transform: scaleX(1) scaleY(0.9);
  }

  75% {
    transform: scaleX(0.9) scaleY(0.9);
  }

  100% {
    transform: scaleX(0.9) scaleY(1);
  }
}

.overflow {
  overflow-y: hidden;
}

.home-container,
.proj-header-container,
.about-container,
.skills-container,
.services-container {
  background: linear-gradient(-14deg, rgb(20, 20, 20) 70%, rgb(80, 52, 38) 20%);
  height: fit-content;
}

.for-phone {
  display: block;
}

.for-desk {
  display: none;
}

@media (min-width: 745px) {
  .for-phone {
    display: none;
  }

  .for-desk {
    display: block;
  }
}

/* Light Mode */

.light .nav-container,
.light .about-container,
.light .hamburger-ul,
.light .home-container,
.light .footer-container,
.light .App,
.light .contact-container,
.light .proj-header-container,
.light .skills-container,
.light .services-container,
.light .service-mother-container,
.light .service-container {
  background: hsl(0, 0%, 100%);
  transition: all 1s ease-in-out 0.25s;
}

.light .hamburger-ul,
.light .service-container {
  border: 1px solid rgb(43, 33, 30);
  box-shadow: 0 0 4px 0 rgb(43, 33, 30);
  transition: all 1s ease-in-out 0.25s;
}

.light .logo,
.light .hamburger-ul-li,
.light .home-sm-icons,
.light .landing-page-name,
.light .home-par,
.light .desk-ul-li-content,
.light .about-container-par,
.light .about-container-par a,
.light .contact-form label,
.light .contact-header,
.light .projects-header,
.light .projects-sub-header,
.light .proj-ul h1,
.light .proj-ul p,
.light .contact-details-section a,
.light .proj-ul p a,
.light .proj-ul h3,
.light .skills-container-h1,
.light .skill-header,
.light .skill-section p,
.light .skill-icons,
.light .services-container h1,
.light .services-container h4,
.light .service-div h3,
.light .services-icons,
.light .service-icon,
.light .service-div button,
.light .close-modal,
.light .service-container h1,
.light .service-container p,
.light .about-icons-section div h3,
.light .about-icons-section div p,
.light .contact-error-message,
.light .contact-details-section h1,
.light .built-with-tech,
.light .built-with-stack {
  color: rgb(20, 20, 20);
}

.light .proj-ul,
.light .skill,
.light .service-div {
  border: 1px solid rgb(154, 89, 1);
  border-radius: 10px;
}

.light .par-section,
.light .about-container {
  border: none;
}

html {
  scroll-behavior: smooth;
}
