.proj-header-container section {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 30px 20px;
}

.projects-header,
.projects-sub-header {
    text-align: center;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 100%);
}