.service-mother-container {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  /* padding: 0 5vw; */
}

.service-container {
  max-height: 60vh;
  max-width: 70vw;
  overflow-y: scroll;
  scroll-padding: 24px;
  scroll-snap-type: y mandatory;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 10px;
  background: rgb(43, 33, 30);
}

#service-container nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

td p {
  font-size: 1.2rem;
}

#service-container > p {
  text-align: center;
  font-size: 1.2em;
}

#service-container > h1 {
  text-align: center;
  font-size: 2.2em;
}

.service-offer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.service-offer-sec {
  padding: 0 10vw;
}

@media (min-width: 745px) {
  #service-container > h1 {
    font-size: 2.8em;
  }

  #service-container > p {
    font-size: 2em;
    padding: 0 10vw;
  }
}
