.services-container {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.mapped-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 80%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 5vh 5vw;
}

.service-div {
  border: 1px solid hsl(0, 0%, 100%);
  padding: 10px 20px;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  min-height: 20vh;
  border-radius: 10px;
}

.service-div button {
  background: none;
  border: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

@media (min-width: 745px) {
  .service-div {
    min-height: 40vh;
    justify-content: flex-end;
    padding-bottom: 5vh;
    gap: 35px;
  }
}
