/* .skills-display {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 30px;
    min-width: 70vw;
} */

.skills-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 5vw 2vh 5vw;
}

.level-span {
  font-size: 1rem;
}

.skills-container-h1 {
  font-size: 3em;
  color: hsl(0, 0%, 100%);
}

.skills-container {
  gap: 50px;
}

.skill {
  /* max-width: 40vw; */
  min-height: 70vh;
}

@media (min-width: 745px) {
  .skills-display {
    padding: 0 30vw 5vh 30vw;
  }
}
